/* General Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-color: #fff7e6;
  color: #5c4033;
  font-family: Arial, sans-serif;
  padding: 0 5px;
}

/* Header Styles */
header {
  background-color: #d9c5b2; /* Creamy Beige - Resembling milk tea */
  color: #4a2c2a;
  text-align: center;
  padding: 20px;
  border-radius: 0px 0px 10px 10px;
}

header h1 {
  margin: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
}

/* Section Styles */
section {
  margin: 20px auto;
  padding: 20px;
  max-width: 800px;
  background-color: #ffffff; /* White background for contrast */
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

section h2 {
  color: #6b4f31;
  font-size: 1.8rem;
  margin-bottom: 10px;
  border-bottom: 2px solid #d9c5b2;
  padding-bottom: 5px;
}

/* List Styles */
ul,
ol {
  margin: 0 0 20px 20px;
  padding: 0;
}

li {
  margin: 10px 0;
  font-size: 1rem;
}

/* GIF Section Styles */
#gif img {
  display: block;
  max-width: 100%;
  margin: 10px auto;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Subtle shadow */
}

footer {
  text-align: center;
  border-top: 2px solid #fff;
  padding: 15px;
  background-color: #b29272;
  color: #5b403f;
  font-size: 14px;
  border-radius: 10px 10px 0 0;
}
footer p {
  margin: 10px 0;
  font-size: 14px;
}

footer a {
  color: #4b3a27;
  text-decoration: none;
  font-weight: bold;
  text-decoration: none;
}

footer a:hover {
  color: #ffffff;
  text-decoration: underline;
}

/* Responsive Design */
@media (max-width: 600px) {
  body {
    padding: 0 10px;
  }

  section {
    padding: 15px;
  }

  header h1 {
    font-size: 2rem;
  }
}
